[2021-06-21 03:49] atapas opened #4 "rename README.MD to README.md"
**Describe the bug**
Rename README.MD to README.md. All-Contributors probably not working well with .MD version

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-06-21 05:58] atapas commented on #4
@all-contributors please add @max-programming for code

[2021-06-21 06:00] atapas commented on #4
@all-contributors please add @atapas for code

[2021-06-21 06:03] #4 closed

[2021-08-16 13:45] atapas opened #14 "✨ [New Demo Request]: Add the Geolocation Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Add a demo of the Geolocation API(https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API)

## Please explain why do you need it?

It is a most used web API. It would be nice to have an API Demo for this one

## Any Links, Reads?

https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_A

[2021-09-29 08:07] atapas opened #22 "💡 Use Tailwindcss for the project"
**Is your feature request related to a problem? Please describe.**
Right now the project uses a `global.css` file under https://github.com/atapas/webapis-playground/blob/master/styles/globals.css. The aim is to move to use [Tailwindcss](https://tailwindcss.com/#what-is-tailwind).

The support for Tailwind to work with a Next.js project is already done and available in the codebase.

**Describe the

[2021-09-29 08:18] atapas opened #23 "✨ [New Demo Request]: Create a Web Speech API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Web Speech API Demo. You can read it from [here](https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API)

## Please explain why do you need it?

The Web Speech API enables you to incorporate voice data into web apps. It will be great to show how to handle voice data.

## Any Links, Reads?

ht

[2021-09-29 08:22] tiger-yash commented on #22
hello!
I would I would like to work on this issue, can you please assign it to me?

[2021-09-29 08:25] atapas commented on #22
You got it 🙂

[2021-09-29 08:47] atapas opened #24 "✨ [New Demo Request]: Screen Capture API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

The Screen Capture API introduces additions to the existing Media Capture and Streams API to let the user select a screen or portion of a screen (such as a window) to capture as a media stream. This stream can then be recorded or shared with others over the network.

## Please explain why do you need

[2021-09-29 09:19] atapas opened #25 "Fix OG Image issues of the website/app"
**Describe the bug**
There is an issue with the OG image. It doesn't appear correctly when we share the web app on social media.

![image](https://user-images.githubusercontent.com/3633137/135240263-a28ac3b9-4447-4d0d-be17-39aeafeacab2.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://webapis-playground.vercel.app/'
2. Share this URL on social media.
3. The OG image doesn'

[2021-09-29 09:23] atapas opened #26 "🐛 Improve the accesibility score"
**Describe the bug**
The lighthouse score of the accessibility of not that great yet. Please improve it.

**To Reproduce**
Open the app and run lighthouse from the browser console.
Check the report.

**Expected behavior**
The score should be >= 95

**Screenshots**
![image](https://user-images.githubusercontent.com/3633137/135240965-e84b688f-7d91-4cf6-85b6-49c595c62c53.png)

**Desktop (please compl

[2021-09-29 10:32] jjung99 commented on #25
Hi, I would like to try to fix it if you are okay with it :)

[2021-09-29 11:14] atapas commented on #25
I don't mind at all. Thanks for taking it up. Let's do it.

[2021-09-29 11:34] atapas opened #27 "💡 [Feature]: Design a landing page of the playground"
**Is your feature request related to a problem? Please describe.**
No, it is an enhancement request. It would  be great to have a landing page indicating,
- What is the purpose of this playground?
- What kind of demos are available so far?
- How to add a new demo info
- Link to GitHub
- Social handles to share the app
- Contact information
- Contributor information
- Many more

**Describe the solu

[2021-09-29 12:14] atapas opened #28 "💡 [Feature]: Add the See Code button in the demo details page"
**Is your feature request related to a problem? Please describe.**
The demo details page doesn't have the source code link. Please provide a link to the relevant source code from the demo page.

![image](https://user-images.githubusercontent.com/3633137/135266174-0157ece2-5646-4189-932c-05dca9ae3af1.png)

**Describe the solution you'd like**
I would like to get a demo link from the demo details pa

[2021-09-29 12:18] niteshseram commented on #26
Hello @atapas, I would like to work on this if you are not working on this.

[2021-09-29 12:21] niteshseram commented on #26
But I see the accessibility score as 92 for the homepage when I run the lighthouse. Is the above score you have added for the homepage?

[2021-09-29 12:26] atapas commented on #26
Hey @niteshseram, Yes I see it on the home page only. It also reports a few issues in the audit that could help it to be better

![image](https://user-images.githubusercontent.com/3633137/135267980-fa2482cc-07d4-45d8-a21d-39408276820b.png)

[2021-09-29 12:27] niteshseram commented on #26
Okay sure. So, it is okay right if I take up this issue?

[2021-09-29 12:29] atapas commented on #26
@niteshseram I have assigned it to you.. so it all yours :).

Thanks for taking it up.

[2021-09-29 12:29] niteshseram commented on #26
Thanks

[2021-09-29 12:46] niteshseram commented on #26
@atapas I made the accessibility 100 but I don't see this `aria` related accessibility issue in my local.

[2021-09-29 12:53] atapas commented on #26
Great, Awesome!!! Please create a PR and let us test it once on the deployed link?

[2021-09-29 12:53] niteshseram commented on #26
Yes, I just made a PR

[2021-09-29 12:55] atapas commented on #26
ok I saw the preview link and ran lighthouse.. I see a great improvement in the score @niteshseram

But I see that aria error too..

![image](https://user-images.githubusercontent.com/3633137/135272371-f07a46a5-0e84-4a8f-81cd-a33b4f28f89a.png)

I am on Chrome
I am on non-cognito mode.

[2021-09-29 12:55] atapas commented on #26
Here is the preview link: https://webapis-playground-git-fork-niteshseram-fix-c6d34b-thoughtdump.vercel.app

[2021-09-29 12:58] niteshseram commented on #26
Okay, I got it @atapas. In Non-Cognito, the plugin does this. I was running in cognito mode.

[2021-09-29 13:00] niteshseram commented on #26
I don't think we can't do anything about it. The plugin itself injects some code.

[2021-09-29 13:02] atapas commented on #26
Yeah, I agree, I saw it is 100% in the incognito mode.

[2021-09-29 13:03] niteshseram commented on #26
Yes, for example, I am using Grammerly extension, so Grammarly injects some code at the bottom of our website and we can't do anything about it.

[2021-09-29 13:08] atapas commented on #26
@niteshseram go ahead and request the review.. Let me try merging it today itself :).

[2021-09-29 13:13] niteshseram commented on #26
Request for review? I didn't get @atapas.

[2021-09-29 13:14] atapas commented on #26
No worries, I did it. I meant this one

![image](https://user-images.githubusercontent.com/3633137/135275545-d5980955-feca-48ed-b4f8-86d7a54cd476.png)

[2021-09-29 13:17] niteshseram commented on #26
I don't think I can do that.

[2021-09-29 13:17] niteshseram commented on #26
There was no option

[2021-09-29 13:19] atapas commented on #26
No worries, I realized that now :)

I have posted a tiny comment in the PR.

[2021-09-29 13:59] #26 closed

[2021-09-29 14:24] niteshseram opened #31 "🐛 [Bug]: Typo in readme"
**Describe the bug**
There are some typos in the readme.
**Fixes:**
- `yan` to `yarn`
- Make the yarn command in a new line separated by `# or` in the next line

![Capture](https://user-images.githubusercontent.com/51370246/135287621-d2de028f-358d-458c-a16d-78c7e2e1625b.PNG)

[2021-09-29 14:29] atapas commented on #31
@niteshseram are you taking it up to fix?

[2021-09-29 14:31] niteshseram commented on #31
If you want I can jump in.

[2021-09-29 14:31] atapas commented on #31
Go ahead, you are on fire!!!

[2021-09-29 14:39] niteshseram commented on #31
I can take up more issues but I will do that after 1st Oct 🤣 . This pull request will not be counted in Hacktoberfest. Never took part in Hacktoberfest so I really want to participate this time.

[2021-09-29 14:42] atapas commented on #31
Sure thing. Do not raise a PR now. Let's do the PR after 1st.

[2021-09-29 14:45] niteshseram commented on #31
You can merge this one if you want. I already made the PR. Since it is a typo in the steps of setting up the project locally, if a complete beginner comes in, it will be a problem for them.

[2021-09-29 14:50] #31 closed

[2021-09-29 20:04] aanchal-fatwani commented on #28
Hi, I would like to work on this issue. Please assign the same.

[2021-09-30 02:26] atapas commented on #28
Done!

[2021-09-30 12:43] wsameer commented on #14
Hi @atapas , I would like to work on this issue.

[2021-09-30 12:45] atapas commented on #14
@wsameer, It's all yours now. All the best, If you need any info or want to discuss anything, please open up a discussion here https://github.com/atapas/webapis-playground/discussions

[2021-09-30 13:50] niteshseram opened #34 "💡 Feature: Add commit hooks with Husky"
**Is your feature request related to a problem? Please describe.**
I think adding a pre-commit hook with Husky to do linting and formatting of code before committing the code will be helpful

If this feature sounds good, please assign it to me.

[2021-09-30 14:15] atapas opened #36 "✨ [New Demo Request]: Create a Demo for CSS Counter Styles"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

CSS Counter Styles

## Please explain why do you need it?

CSS Counter Styles is almost a programmatic way to add a counter using CSS. We need to build awareness using this demo.

## Any Links, Reads?

https://developer.mozilla.org/en-US/docs/Web/API/CSS_Counter_Styles

## If you are picking up this r

[2021-09-30 14:33] atapas opened #37 "✨ [New Demo Request]: Demo for Push API"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Push API

## Please explain why do you need it?

The Push API gives web applications the ability to receive messages pushed to them from a server, whether or not the web app is in the foreground, or even currently loaded, on a user agent. This lets developers deliver asynchronous notifications and upd

[2021-09-30 14:38] atapas opened #38 "✨ [New Demo Request]: Demo for Picture-In-Picture API"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Picture-In-Picture

## Please explain why do you need it?

Picture-in-Picture is a feature supported by some smart televisions, devices to show the content(like videos) on a floating window(on the top of other windows) so that users can continue to see the content while interacting with the background

[2021-09-30 14:43] atapas opened #39 "💡 [Feature]: Make the app as Progressive Web App(PWA)"
**Is your feature request related to a problem? Please describe.**
No. It is a feature request to make this app a Progressive Web APP

[2021-09-30 21:56] Abiola-Farounbi commented on #23
Hi, I would like to work on this issue.

[2021-10-01 03:22] atapas commented on #23
Helo @Abiola-Farounbi , assigned to you. Thanks.

[2021-10-01 06:49] niteshseram commented on #39
Can I take this up?

[2021-10-01 07:06] atapas commented on #39
Assigned

[2021-10-01 07:07] niteshseram commented on #39
The logo inside `public/readme` is the logo of the project?

[2021-10-01 07:15] atapas commented on #39
Nope. Need to make one on the same line.. also favicon on the same line.

[2021-10-01 07:21] niteshseram commented on #39
While doing PWA, we need logo. So, for time being should I just use the vercel logo?

[2021-10-01 07:30] atapas commented on #39
@niteshseram Yes, I will get a logo by tomorrow. We will replace it then

[2021-10-01 07:51] #14 closed

[2021-10-01 08:22] atapas opened #43 "💡 [Feature]: Add a search capability in the demo listing page"
Add a search mechanism in the demo list page to search the demo by its name. Please feel free to open a discussion about your design proposal.

![image](https://user-images.githubusercontent.com/3633137/135588882-efb38e8e-b4ff-470c-9b59-79b6ec31ae0a.png)

[2021-10-01 08:24] omriattiya commented on #43
Hi, can you assign me this issue?

[2021-10-01 08:31] atapas commented on #43
You got it

[2021-10-01 09:38] atapas opened #45 "💡 [Feature]: Design a logo for webapis playground"
**Is your feature request related to a problem? Please describe.**
Yes, the current logo used is the vercel logo.

**Describe the solution you'd like**
Design and transparent logo and commit. The existing logo is here:

https://github.com/atapas/webapis-playground/blob/master/public/readme/Logo.png

The new logo design should be on the same line but with transparent background.

The same logo will

[2021-10-01 12:09] koustov commented on #24
May i take this one @atapas

[2021-10-01 12:39] kvnal commented on #45
I would like to work on this (SVG or PNG ?), Please assign me this task

[2021-10-01 12:40] vincentrohde commented on #37
@atapas I would like to implement this 👍

[2021-10-01 12:44] atapas commented on #45
Done!

Lets create both. PNG mandatory

[2021-10-01 12:45] atapas commented on #37
All your @vincentrohde

[2021-10-01 13:56] niteshseram opened #48 "✨ [clean up]: add more ESLint rules and clean up the codebase"
Current ESLint rules don't catch unused or undefined variables.
So, to allow that we can add `eslint:recommended` in `.eslinrc` file.

Tasks:
- Add `eslint:recommended` in `.eslinrc` file
- Run `yarn lint` and check for eslint error
- Clean up eslint error in the project

[2021-10-01 14:51] bharati-21 commented on #27
/hey @atapas ,
I'd like to work on this!

[2021-10-01 14:53] atapas commented on #27
Great, you are on it. I have some thoughts around this but open to any ideas. Please let me know if you are available to have a short sync up sometime this weekend.

[2021-10-01 14:55] bharati-21 commented on #27
Cool, does Sunday work for you?

[2021-10-01 15:01] atapas commented on #27
Yes.

[2021-10-01 15:22] rzhekova commented on #48
I can take this, if you don't mind

[2021-10-01 16:02] #43 closed

[2021-10-01 17:07] #38 closed

[2021-10-01 17:21] atapas commented on #48
Assigned

[2021-10-02 07:42] koustov opened #51 "💡 [Feature]: UI update for more contemporary look"
**Is your feature request related to a problem? Please describe.**
This is a great application without a single doubt. A more contemporary aesthetic will be icing on the cake.

**Describe the solution you'd like**
A modern UI transformation

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2021-10-02 09:55] #22 closed

[2021-10-02 10:13] atapas opened #53 "🐛 [Bug]: A few demo interface breaks in the mobile resolution"
**Describe the bug**
These demos are breaking in a smaller resolution.

- https://webapis-playground.vercel.app/demos/picture-in-picture
- https://webapis-playground.vercel.app/demos/filesystem-api
- https://webapis-playground.vercel.app/demos/broadcast-channel
- https://webapis-playground.vercel.app/demos/vibration
- https://webapis-playground.vercel.app/demos/image-capture
Kindly check all other

[2021-10-02 10:59] #34 closed

[2021-10-02 11:09] AhsanAyaz commented on #53
I AM WORKING ONNNN THISSSSSS!!!
PLEASEEEEE DOOOOOO NOAAAAAAT PICCCKKKK THISSSSSSSSSS ONEEEEEE!
jk

[2021-10-02 11:09] AhsanAyaz commented on #53
I'm working on this issue. To demonstrate to my stream on [twitch](https://twitch.tv/CodeWithAhsan) & [YouTube](https://youtube.com/c/CodeWithAhsan) about how to contribute to GitHub repositories in Hacktoberfest

[2021-10-02 11:11] iUseYahoo commented on #53
there is a issue

[2021-10-02 11:15] RajputUsman commented on #53
[You comedy Me](https://tenor.com/view/are-you-comedy-me-gif-22462710)

[2021-10-02 11:36] atapas commented on #53
GO FOR ITTTTTTT

[2021-10-02 12:58] niteshseram opened #56 "💡 [Feature]: move img to Image tag from next/image"
**Is your feature request related to a problem? Please describe.**
We should use `<Image />` from `next/image` in place of `img` element.

**Describe the solution you'd like**
Using Next.js image helps us in lazy loading, image optimization and serves the image as `.webp` format
I don't know if there was some reason for using `img` element in the first place

[2021-10-02 13:08] bharati-21 commented on #27
Hi @atapas,
Please do tell me a time suitable for you so that I can setup a meet!

Thanks :)

[2021-10-02 13:22] kvnal commented on #45
PR created #57 👈 pls review.
Thanks!

[2021-10-02 14:28] hendaoui commented on #51
Assign it to me please, I'll work on it!

[2021-10-02 14:42] rehan-sattar commented on #56
Hi @niteshseram, picking this one! PR coming soon :rocket:

[2021-10-02 14:51] niteshseram commented on #56
@rehan-sattar Thanks for taking up the issue. But I would like to wait for a reply from @atapas to see if this feature is needed or not. Don't yet start, let him confirm and assign you

[2021-10-02 14:57] rehan-sattar commented on #56
Oh, Thanks for informing me! Waiting :smiley:

[2021-10-02 15:04] rehan-sattar opened #59 "🐛 [Bug]: Images inside the buttons are not aligned properly."
**Describe the bug**

The images inside of the buttons are not aligned properly.

**Screenshots**
![image](https://user-images.githubusercontent.com/26999472/135722173-504bb922-f73e-49b4-b4a0-6ddeebc37e5e.png)

PS: I can fix it straight away if I get a green signal for it. :sweat_smile:

[2021-10-02 15:12] atapas commented on #59
@rehan-sattar All yours

[2021-10-02 15:17] atapas commented on #51
Assigned. Could you please put forward your proposal first. We may want to review it before you start. Just to save on time :)

cc: @koustov

[2021-10-02 15:20] atapas commented on #27
How about 2pm? Please set it up. Please DM me here, we can do it at run time too.. :)

https://twitter.com/tapasadhikary

[2021-10-02 15:58] #39 closed

[2021-10-02 16:19] #59 closed

[2021-10-03 05:22] atapas commented on #56
Not fixing

[2021-10-03 05:22] #56 closed

[2021-10-03 05:43] #53 closed

[2021-10-03 05:45] atapas commented on #51
@all-contributors please add @koustov  for Bug

[2021-10-03 06:21] #28 closed

[2021-10-03 07:44] rehan-sattar opened #66 "💡 [Improvement]: Copy to Clipboard UI"
**Is your feature request related to a problem? Please describe.**
The current UI for the copy to clipboard API doesn't seem to be that good. We can improve it 🚀

This is the current UI:
![image](https://user-images.githubusercontent.com/26999472/135744746-def7d7e5-cec7-45c8-9ce9-48756a6b73b1.png)

**Describe the solution you'd like**

Recently I had the chance to work on this API and I designed t

[2021-10-03 07:56] rehan-sattar opened #67 "🐛 [Bug]: File system demo image broken"
**Describe the bug**
Write now, the image of the file system API is broken. If we select the image then it replaces the `src` of it.

![image](https://user-images.githubusercontent.com/26999472/135744927-7cf99604-e08a-4979-9fca-f17be312c268.png)

### Code reference:
Initially, the image has `src = ''` that is causing this issue.

![image](https://user-images.githubusercontent.com/26999472/13574498

[2021-10-03 07:57] rehan-sattar commented on #67
Ready to take this one too! :rocket:

[2021-10-03 12:00] brandon-1999 opened #69 "💡 [Feature]: Examples to be rendered Aphabetically"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The problem is that when you are looking for example there isnt any specific order to them.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

For the examples to be ordered alphabetically

*

[2021-10-03 12:41] #24 closed

[2021-10-03 16:36] atapas commented on #51
@hendaoui , I see the assignment was removed.. Not sure, if that was accidental...Please let me know. I have assigned to you again.

[2021-10-03 16:50] #67 closed

[2021-10-03 16:55] atapas opened #73 "💡 [Feature]: Make the header sticky"
When we scroll, the header scrolls. That's not so intuitive. Let's make it sticky.

Applicable to both demo landing and individual demo pages.

[2021-10-03 17:06] abhikhatri67 commented on #73
Hey @atapas, can you assign me this issue?

[2021-10-03 17:09] atapas commented on #73
All yours

[2021-10-03 17:11] abhikhatri67 commented on #73
Thanks.

[2021-10-03 18:20] abhikhatri67 commented on #73
@atapas Created PR for it.

[2021-10-03 21:40] mverissimo commented on #51
Hello, I start working on this a day ago and I did draft a PR(#75), I would like to continue working on this, but the PR was assigned to another, maybe we can work together.

[2021-10-04 03:51] #66 closed

[2021-10-04 03:57] atapas commented on #51
Hello @mverissimo , I'm actually waiting for a confirmation from @hendaoui if he still owns this issue as I have seen the removal of assignment once. If he is not owning it, you can own it completely. Otherwise, I would suggest you both work together on this.

There is one more issue, https://github.com/atapas/webapis-playground/issues/27 that Bharati is working on. She is designing a landing page

[2021-10-04 03:58] atapas commented on #27
@bharati-21 https://github.com/atapas/webapis-playground/issues/51#issuecomment-933120015

FYI...

[2021-10-04 12:03] mverissimo commented on #51
@atapas  Goood, I waiting for the @hendaoui response to continue with this, and we sync up later to discuss more about the landing page! Thanks.

[2021-10-04 14:43] avneesh0612 opened #77 "💡 [Feature]: add a router progressbar"
If we add a router progress bar then the user will know how much time it will take for the user to reach that page. It is pretty easy to implement. I have opened a PR for it [here](https://github.com/atapas/webapis-playground/pull/76)

[2021-10-04 14:45] jjung99 commented on #25
It seems like it is working well. I don't see the issue. Here is the test screenshot.
![image](https://user-images.githubusercontent.com/55635066/135872562-30172834-4c6d-4a49-b7da-3c813bb65e72.png)

[2021-10-04 15:48] rzhekova commented on #48
Just pushed up some changes, let me know if anything needs amending :)

[2021-10-04 16:27] Sukhseerat-Kaur opened #79 "API doc link"
The api name should ne linked to the api's documentation. Assign me this issue, I can work on it.

[2021-10-05 03:56] #73 closed

[2021-10-05 04:29] atapas commented on #25
@jjung99 I also see that 😊. Have you tested the OG works well with Facebook and Reddit? If not, we still have chances to fix. Please let me know, I will close it accordingly.

Btw.. you still get the test contribution credit. Thanks for the effort.

[2021-10-05 04:31] atapas commented on #79
@Sukhseerat-Kaur I have assigned it to you. Could you please explain the issue a bit more? Maybe a screenshot and what is expected would be helpful for me to understand and accept the fix faster. Thanks.

[2021-10-05 04:34] #77 closed

[2021-10-05 05:30] atapas opened #82 "✨ [New Demo Request]: Add Streams API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Streams API

## Please explain why do you need it?

The Streams API allows JavaScript to programmatically access streams of data received over the network and process them as desired by the developer.

A basic expectation is to cover most of the useful methods from this API. Please DO NOT COPY the exi

[2021-10-05 05:33] atapas opened #83 "✨ [New Demo Request]: CSS Font Loading API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

CSS Font Loading API

## Please explain why do you need it?

The CSS Font Loading API provides events and interfaces for dynamically loading font resources. Please create a demo to showcase most of the API methods. You can use the example fonts from here: https://fonts.google.com/

## Any Links, Reads

[2021-10-05 05:35] atapas opened #84 "✨ [New Demo Request]: CSS Painting API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

CSS Painting API

## Please explain why do you need it?

The CSS Painting API — allows developers to write JavaScript functions that can draw directly into an element's background, border, or content.

### Concepts and usage
Essentially, the CSS Painting API contains functionality allowing developers

[2021-10-05 07:25] Padmanabh82 commented on #84
So what we have to do ??
Do we need to add a project by using it??

[2021-10-05 08:03] atapas commented on #84
As described in the issue, you need to read the guide first on how to add a demo. Then prepare a quality example using it and add.

Please let me know, if you are picking it up.

[2021-10-05 08:48] Padmanabh82 commented on #84
Ok sir I will make and tell you

[2021-10-05 08:54] atapas commented on #84
Should I assign it to you so that no one else pick it up?

[2021-10-05 09:47] Padmanabh82 commented on #84
Ok

[2021-10-05 09:56] Padmanabh82 commented on #84
There are wide range of paint() uses would you suggest what should be included in example ??

[2021-10-05 09:57] Padmanabh82 commented on #84
Every time dynamic colour baground ??

[2021-10-05 10:00] Padmanabh82 commented on #84
I like this Idea

[2021-10-05 10:26] atapas commented on #84
May be on multiple divs/boxes.. Go as innovative as possible.. let's make it a great demo.

[2021-10-05 16:53] vincentrohde commented on #37
@atapas Please unassign me from this issue. I am currently to busy and it would be better if someone else has the opportunity to implement this 👍

[2021-10-05 17:00] atapas commented on #37
No worries

[2021-10-06 11:26] #45 closed

[2021-10-06 11:26] atapas commented on #45
Done

[2021-10-06 16:48] atapas commented on #25
Hey @jjung99 did you get a chance to test?

[2021-10-06 17:13] max-programming commented on #51
I think using Tailwind is better. We could use something like [daisyui](https://daisyui.com)

[2021-10-06 19:06] jjung99 commented on #25
Here are Reddit and Facebook test screenshot.
![reddit_test](https://user-images.githubusercontent.com/55635066/136266879-7254c758-cd4c-4c9f-bcd2-e3b1f54e1ce8.jpg)
![facebook](https://user-images.githubusercontent.com/55635066/136266959-5d514282-4ba9-49ce-a7af-b7ab0b752e03.jpg)

So it doesn't work on Reddit.
and the image should be shown on Facebook like a Twitter screenshot?

[2021-10-07 16:18] jesse-moore commented on #37
I would like to work on this. Thanks

[2021-10-07 18:37] Padmanabh82 commented on #84
Git clone.
cd ________
Npm run dev

[2021-10-08 04:00] atapas commented on #84
possibly. Use NVM to install and switch to another version. Preferred > 12.7.0

[2021-10-08 04:20] atapas commented on #84
No NVM: https://docs.microsoft.com/en-us/windows/dev-environment/javascript/nodejs-on-windows

[2021-10-08 04:59] Padmanabh82 commented on #84
I use Linux sir. (Raspberry pi).wait I will try to update

[2021-10-08 08:07] rzhekova opened #87 "[Improvement] replace currenct searchApi method with hook"
Currently `eslint` flags a warning on the SearchBox component due to `useEffect` missing `onSearch` from its dependency array. When you add it to the array, the search finctionality on the website breaks due to an infinite re-render. Potentially this happens because we end up with a circular new objects creation by triggering the `filter` array method within SearchBox.

Replacing this function wit

[2021-10-08 10:05] #87 closed, assigned to rzhekova

[2021-10-11 16:08] niteshseram opened #91 "✨ [Update]: Update PWA logo and manifest file"
We need to update the logo and app name and description for PWA in the manifest file

[2021-10-13 15:12] niteshseram opened #93 "✨ [Update]: Update lint-staged script in package.json"
Since we are going to be using `Typescript` as well, we should add the `.tsx` and `.ts` extensions in [`lint-staged`](https://github.com/atapas/webapis-playground/blob/19bf20e144f51527ff6ab2a54afa74a74d6d6043/package.json#L14-L20) script of the package.json file

[2021-10-16 06:21] #91 closed, assigned to niteshseram

[2021-10-16 06:22] #93 closed, assigned to niteshseram

[2021-10-16 08:03] rehan-sattar opened #95 "💡 [Improvement]: Network Info UI"
Right now, the Network details are shows like this:

![image](https://user-images.githubusercontent.com/26999472/137579520-c6b0457b-0394-4b5a-b7a9-0767cff97bb8.png)

**Describe the solution you'd like**
Instead of showing it like this, we can create a table and show all the details in the form of rows and columns. That would be pretty neat and mature.

Let me know if it's good to go. I can pick th

[2021-10-17 03:40] #51 closed

[2021-10-17 03:45] atapas opened #97 "💡 [Feature]: UI update for more contemporary look"
We are done changing the header. Here is the issue to do the rest.

@mverissimo I'm assigning this to you to make changes to the rest of the app.

[2021-10-17 03:46] atapas commented on #97
@mverissimo please pick this up. The header one is merged.

[2021-10-17 16:26] atapas commented on #97
Great!

[2021-10-18 02:50] #97 closed, assigned to nobody

[2021-10-18 02:56] #95 closed, assigned to rehan-sattar

[2021-10-18 09:16] atapas commented on #79
Hi @Sukhseerat-Kaur Are you still working on this issue?

[2021-10-20 02:49] develemit commented on #83
@atapas want to go ahead and assign this to me? I'll make a demo for the CSS Font Loading API 😄

[2021-10-20 03:21] atapas commented on #83
@develemit All your now.

[2021-10-20 18:09] mverissimo opened #109 "💡 [Feature]: Better folder structure"
**Is your feature request related to a problem? Please describe.**

During the development to improve the interface design, I'm felt lost with the current folder architecture, is very mixed the `source code` with `scripts`.

**Describe the solution you'd like**
Basically, move the source code into a folder called src. This change gives us more control over the `source code` and `scripts` like plop

[2021-10-21 06:12] atapas commented on #109
I don't have a very strong feeling about it. However, it was asked as a RFC to Next.js recently and they have added the support now.

https://nextjs.org/docs/advanced-features/src-directory

[2021-10-21 13:01] #23 closed

[2021-10-21 13:05] koustov opened #112 "💡 [Feature]: Add categories for the APIs"
**Is your feature request related to a problem? Please describe.**
As the list will grow over time, we need a smarter mechanism to handle the heap. An easy and convenient way is to categorize them.

**Describe the solution you'd like**
A radio button-based category listing.

**Describe alternatives you've considered**
Tabs, accordion

**Additional context**

[2021-10-21 13:20] #109 closed

[2021-10-22 00:07] mverissimo opened #113 "💡 [Feature]: Dynamic demos route/import"
**Is your feature request related to a problem? Please describe.**
Currently, the `plop-template` generates a repetitive code, where is hard to do maintenance in the future or change something.

**Describe the solution you'd like**
To remove this `boilerplate` with `plop-templates` my suggestion is to start using [dynamic routes](https://nextjs.org/docs/api-routes/dynamic-api-routes) with [dynamic

[2021-10-22 13:10] atapas opened #115 "💡 [Feature]: Implement the landing page"
**Is your feature request related to a problem? Please describe.**
The design is done as part of https://github.com/atapas/webapis-playground/issues/27. This issue is to implement the design.

**Describe the solution you'd like**
https://app.moqups.com/RrhkkCabsD/view/page/ad12de680

[2021-10-25 05:20] koustov opened #117 "💡 [Feature]: Search improvements"
**Is your feature request related to a problem? Please describe.**
A better search and search result mechanism from usability front

**Describe the solution you'd like**
Currently, the search can only be done on API name however it's not granted a person will know the keyword from the API name in order to find what he is looking for. The ideal way of search should be based on
1. API Name
2. Contri

[2021-10-25 15:52] simevidas opened #118 "🐛 [Bug]: Links should be discernable"
1. In desktop Firefox, open https://webapis-playground.vercel.app/demos/web-speech
2. Look at the text “Can I use”

It’s a link but it looks exactly like regular text. Links should be styled differently, so that people know they’re links.

<img width="809" alt="Screenshot 2021-10-25 at 17 46 16" src="https://user-images.githubusercontent.com/716405/138728352-f5e75ec6-ca17-4c6c-9f8f-48684b85850d.pn

[2021-10-26 01:42] chosunosu opened #120 "🐛 [Bug]: Api Demo's See Code button leads to 404 page"
**Describe the bug**
I have not tested all api demos but so far the File System API, Drag and Drop API pages' "See Code" button leads to a 404 page.

For example, the Drag and Drop source code is located at:
https://github.com/atapas/webapis-playground/blob/master/src/web-apis/drag-and-drop/index.js

The button contains a link to:
https://github.com/atapas/webapis-playground/blob/master/web-apis/i

[2021-10-26 04:18] ats1999 opened #121 "🐛 [Bug]: Battery API Wrong status"
**Describe the bug**
Battery API is showing wrong battery status

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot from 2021-10-26 09-46-25](https://user-images.githubusercontent.com/54087826/138808095-25675300-c3b4-427a-9bdc-d27170d3cf6b.png)

See actual battery percentage on the top right corner
**Desktop (please complete the following information):**

-

[2021-10-27 03:29] #118 closed, assigned to tyler-morales

[2021-10-27 03:32] #120 closed, assigned to atapas

[2021-10-27 15:12] #113 closed, assigned to mverissimo

[2021-10-28 03:22] atapas opened #126 "✨ [New Demo Request]: Create Barcode Detection API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Barcode Detection API

## Please explain why do you need it?

It would be useful to demonstrate the Barcode detection

## Any Links, Reads?

Barcode_Detection_API

https://developer.mozilla.org/en-US/docs/Web/API/Barcode_Detection_API

## If you are picking up this request to implement, PLEASE READ TH

[2021-10-28 03:24] atapas opened #127 "✨ [New Demo Request]: Demo with Canvas API"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Canvas API

## Please explain why do you need it?

Create a demo with Canvas API (Not with HTML5 Canvas tag). Please check the API link below. Please try creating multiple canvases demonstrating APIs

## Any Links, Reads?

https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API

## If you are pick

[2021-10-28 03:28] atapas opened #128 "✨ [New Demo Request]: Contact Picker API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Contact Picker API

## Please explain why do you need it?

It works on mobile devices and Opera so far. It would be great to get this demo done.

## Any Links, Reads?

https://developer.mozilla.org/en-US/docs/Web/API/Contact_Picker_API

## If you are picking up this request to implement, PLEASE READ T

[2021-10-28 03:29] atapas opened #129 "✨ [New Demo Request]: Credential Management API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Credential Management API

## Please explain why do you need it?

The Credential Management API lets a website store and retrieve password, public key, and federated credentials. These capabilities allow users to sign in without typing passwords, see the federated account they used to sign in to a sit

[2021-10-28 03:33] atapas opened #130 "✨ [New Demo Request]: Performance API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Performance API

## Please explain why do you need it?

Demonstrate the values of these Interfaces

- Performance
- PerformanceEntry
- PerformanceMark
- PerformanceMeasure
- PerformanceNavigationTiming
- PerformanceObserver
- PerformanceResourceTiming

## Any Links, Reads?

https://developer.mozilla.o

[2021-10-28 03:35] atapas opened #131 "✨ [New Demo Request]: Pointer Capture API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Pointer events

## Please explain why do you need it?

Pointer events are DOM events that are fired for a pointing device. They are designed to create a single DOM event model to handle pointing input devices such as a mouse, pen/stylus or touch (such as one or more fingers).

The pointer is a hardwar

[2021-10-28 03:37] atapas opened #132 "✨ [New Demo Request]: Pointer Lock API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Pointer Lock API

## Please explain why do you need it?

The Pointer Lock API (formerly called Mouse Lock API) provides input methods based on the movement of the mouse over time (i.e., deltas), not just the absolute position of the mouse cursor in the viewport. It gives you access to raw mouse moveme

[2021-10-30 07:30] vaibhav-if opened #136 "💡 [Feature]: Proposing minor edits in HOW-TO-ADD-DEMO.md"
**Is your feature request related to a problem? Please describe.**
The text [*Would you please create a branch for the issue?*](https://github.com/atapas/webapis-playground/blob/master/HOW-TO-ADD-DEMO.md#3-create-a-branch) implies that a question is being asked whether the contributor will perform this step or not.

**Describe the solution you'd like**
I think it would be better to replace it with

[2021-10-30 07:52] vaibhav-if commented on #79
Hi @atapas the [API Names](https://github.com/atapas/webapis-playground#-whats-included), can be linked to either the respective api's page or to the api's source code.
Where do you think it should be linked to?
Also, when contributors add their API to readme.md, will they have a url to link the API's name to?

If @Sukhseerat-Kaur is not working on it, can I take this issue?

[2021-10-30 07:59] atapas commented on #136
Go ahead.

[2021-10-31 05:20] #136 closed

[2021-11-04 07:36] JustE3saR commented on #126
I'll work on this.

[2021-11-04 11:36] JustE3saR opened #140 "✨ [New Demo Request]:"
## What is the Example and Demo Topic?

Notifications API

## Please explain why do you need it?

I It would be useful to demonstrate the Barcode detection

## Any Links, Reads?

https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API

## Do you want to contribute to the source code for this example?

Yes

[2021-11-07 11:45] ShivamArora commented on #128
Hi @atapas, I would love to contribute to this. Can you please assign this to me?

[2021-11-07 12:24] ShivamArora commented on #128
Thanks for assigning this to me @atapas. I've generated the boilerplate using the `gen-demo` script.

However, it seems like there's two different conventions in the code at the moment.

The data is stored at two different places `modules/apis/data.ts` and `utils/demos.js`.

There are two different modules in the repo `web-apis` and `modules`.

And although the repo mentions we can use either type

[2021-11-07 12:26] atapas commented on #128
Hey @ShivamArora,

I'm off of a medical leave. @mverissimo @niteshseram @max-programming will be able to help you out.

[2021-11-07 12:31] ShivamArora commented on #128
No worries. Take care @atapas 😃

[2021-11-07 19:48] mverissimo commented on #128
The codebase is being refactored to `typescript` and will be merged soon, you can write in `js` or `ts` but our preference is `ts`, will need to update the plopfile to generate `js` too.

[2021-11-11 16:40] ShivamArora commented on #128
Hi @mverissimo, I was writing my code in Typescript only but seems some components(`DemoInfo`, `DemoSEO`) are still written in JS using the older schema for demo [`ùtils/demos.js`] and are pretty heavily dependent on that older schema making the newer schema useless since we've to duplicate our code for older schema as well.

Is it going to change anytime soon so we can avoid that duplication?

[2021-11-11 16:41] ShivamArora commented on #128
Also, please correct me if I'm missing something that can help avoid code duplication.

[2021-11-13 22:38] mverissimo commented on #128
The project was refactored, I suggest you start your `demo` from the `develop` branch, to avoid these problems.

[2021-11-19 06:17] atapas commented on #27
Thanks @bharati-21 closing this issue. Please retain the link to help the implementation.

[2021-11-19 06:18] atapas commented on #115
Please check the design: https://github.com/atapas/webapis-playground/issues/27#issuecomment-951208151

[2021-11-19 06:22] atapas commented on #27
@all-contributors please add @bharati-21  for Design

[2021-11-19 06:23] #27 closed

[2021-11-23 08:16] atapas commented on #79
It has been done as part of the refactoring made my @mverissimo. I'm closing this issue.

[2021-11-23 08:16] #79 closed

[2021-11-23 08:22] atapas commented on #79
Hi @Sukhseerat-Kaur

Thanks a lot for opening the issue and making the app better. Please feel free to contribute more. You will be added to the contribution list. Don't forget to share about your contribution publicly and provide your support with a star ⭐.

Great work 🔥 !!!!

[2021-11-23 08:23] atapas commented on #79
@all-contributors please add @Sukhseerat-Kaur  for Bug

[2022-10-01 18:04] richardnikolas commented on #127
Hey @atapas , I would love to contribute in this. Could you assign this to me?

[2022-10-02 10:57] Architsharma7 commented on #132
Hey, I would love to work on this issue, can you assign it to me?

[2022-10-03 11:10] supminn commented on #131
I would like to take this up. Could you please assign it to me.

[2022-10-05 15:47] #127 closed, assigned to richardnikolas

[2022-10-05 16:35] kVarunkk opened #151 "🐛 [Bug]: Typo in README.md"
**Describe the bug**
The word 'example' is misspelled as 'exaple'

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com/atapas/webapis-playground
2. Click on 'README.md'
3. Scroll down to https://github.com/atapas/webapis-playground#-open-source
4. See error

**Expected behavior**
The spelling should be 'example'

**Screenshots**
If applicable, add screenshots to help exp

[2022-10-06 05:23] #151 closed

[2022-10-07 09:44] #131 closed

[2022-10-07 14:18] williamssam commented on #36
Hi @atapas Is this done?? This is my first time participating in  Hacktoberfest and I will like to work on this if its still up for grab

[2022-10-07 14:33] williamssam commented on #126
Hi @atapas Is this done?? This is my first time participating in Hacktoberfest and I will like to work on this if its still up for grab

[2022-10-07 14:33] williamssam commented on #126
If its open, you can assign it to me

[2022-10-07 14:46] williamssam opened #154 "✨ [New Demo Request]: The Page Visibility API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?
Page Visibility API

## Please explain why do you need it?
Let’s say that you want to check if the page is currently focused before executing something. The Page Visibility API has been designed for this purpose and provides events you can watch to know when a document becomes visible or hidden. This m

[2022-10-07 14:50] williamssam opened #155 "✨ [New Demo Request]: The URL API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

URL API

## Please explain why do you need it?

This native API has been designed to provide an easy way to parse, construct, normalize and encode URLs. It can be handy when you want to get the host or the protocol for a given URL.

## Any Links, Reads?

https://developer.mozilla.org/en-US/docs/Web/AP

[2022-10-08 03:35] atapas commented on #154
@williamssam Are you able to get started?

[2022-10-08 08:38] williamssam commented on #154
Yes

[2022-10-08 09:55] williamssam commented on #154
Hi @atapas I just made a PR for this Issue, kindly check

[2022-10-08 11:23] williamssam opened #158 "✨ [New Demo Request]: EyeDropper API"
## What is the Example and Demo Topic?

EyeDropper API

## Please explain why do you need it?

The EyeDropper API provides a mechanism for creating an eyedropper tool. Using this tool, users can sample colors from their screens, including outside of the browser window.

## Any Links, Reads?

https://developer.mozilla.org/en-US/docs/Web/API/EyeDropper_API

## Do you want to contribute to the source

[2022-10-08 15:12] Ishanned commented on #130
@atapas can I work on this?

[2022-10-09 03:56] #155 closed

[2022-10-09 09:37] Aru-Ku opened #160 "✨ [New Demo Request]: Add Selection API"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Selection API

## Please explain why do you need it?

A simple user interface to demonstrate how text selection event works in JavaScript.

## Any Links, Reads?

[https://developer.mozilla.org/en-US/docs/Web/API/Selection_API](https://developer.mozilla.org/en-US/docs/Web/API/Selection_API)

## Do you

[2022-10-09 15:19] bhtibrewal commented on #129
i would like to work on this, plz u assign me this task

[2022-10-09 16:12] senali-d commented on #82
Hey @atapas,
I would love to work on this issue, can you assign it to me?

[2022-10-09 22:22] hargun0360 commented on #115
I would like to take this up. Could you please assign it to me?

[2022-10-10 10:31] #160 closed

[2022-10-10 10:51] #154 closed

[2022-10-10 10:55] sohailg commented on #140
i would like to work on it. can you help me with it?

[2022-10-10 10:56] sohailg commented on #158
i would like to work on it,can you help me with the process

[2022-10-10 10:59] atapas commented on #158
It's assigned already! You can pick another one from the issue list.

[2022-10-10 10:59] williamssam commented on #158
@sohailg I'm already working on this. You can create a new issue to work on.

[2022-10-10 11:15] sohailg commented on #158
ok, All the Best

[2022-10-10 11:41] williamssam opened #162 "✨ [New Demo Request]: History API"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

History API

## Please explain why do you need it?

The DOM object provides access to the browser's session history. It exposes useful methods and properties that let you navigate back and forth through the user's history and manipulate the contents of the history stack.

## Any Links, Reads?

https:/

[2022-10-10 21:14] williamssam opened #164 "✨ [New Demo Request]: WebRTC Api"
## What is the Example and Demo Topic?

WebRTC API

## Please explain why do you need it?

WebRTC (Web Real-Time Communication) is a technology that enables Web applications and sites to capture and optionally stream audio and/or video media, as well as to exchange arbitrary data between browsers without requiring an intermediary.

## Any Links, Reads?

https://developer.mozilla.org/en-US/docs/Web

[2022-10-11 12:41] shyakadev opened #165 "✨ [New Demo Request]: Fetch API Demo"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Fetch API

## Please explain why do you need it?

The Fetch API provides an interface for fetching resources (including across the network). It will seem familiar to anyone who has used [XMLHttpRequest](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest), but the new API provides a more p

[2022-10-11 21:32] noobtuber20103152 commented on #165
I would like to take this challenge.

[2022-10-11 21:52] ade1705 opened #166 "✨ [New Demo Request]: Add File API"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

File API

## Please explain why do you need it?

The File API enables web applications to access files and their contents.

## Any Links, Reads?

[File API](https://developer.mozilla.org/en-US/docs/Web/API/File_API)

## Do you want to contribute to the source code for this example?

Yes

## If you are

[2022-10-11 23:50] milanmdev commented on #166
Can I work on this demo?

[2022-10-12 03:22] ansh-saini commented on #165
Hi, can I work on this?

[2022-10-12 03:23] ansh-saini commented on #162
Hi, can I work on this?

[2022-10-12 04:29] ansh-les opened #168 "🐛 [Bug]: Payment API is not working"
**Describe the bug**
Payment API is not working

**To Reproduce**
1. Go to https://webapis-playground.vercel.app/demo/web-payments
2. Click on 'Click here to buy'
3. Check console

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/57872180/195250097-83e12042-4939-4d16-abfb-e4eb8b8a733b.png)

**D

[2022-10-12 04:35] ansh-saini opened #169 "🐛 [Bug]: Payment API is not working"
**Describe the bug**
Payment API is not working

**To Reproduce**
1. Go to https://webapis-playground.vercel.app/demo/web-payments
2. Click on 'Click here to buy'
3. Check console

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/57872180/195250097-83e12042-4939-4d16-abfb-e4eb8b8a733b.png)

**D

[2022-10-12 04:36] #168 closed

[2022-10-12 04:36] ansh-saini commented on #169
I would like to fix this

[2022-10-12 04:47] ansh-saini commented on #169
Can you please add hacktoberfest label to the PR before merging :D

[2022-10-12 07:26] ansh-saini opened #171 "🐛 [Bug]: Canvas API Flag rendering issue"
**Describe the bug**
When you press the 'Show canvases' button multiple times it breaks the flag

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://webapis-playground.vercel.app/demo/canvas-api
2. Click on Show Canvases multiple times

**Expected behavior**
Flag should stay the same.

**Screenshots**
![image](https://user-images.githubusercontent.com/32511936/195277390-3ce08355-2

[2022-10-12 07:27] ansh-saini commented on #171
I would like to work on this

[2022-10-12 08:44] shyakadev commented on #165
@noobtuber20103152 I'm already working on this.

[2022-10-12 13:06] varunsood2003 commented on #25
Hey @atapas is this issue still open ?
I'm new to open source and currently learning, I would love to work with you and help you

[2022-10-13 04:36] photon0205 commented on #132
@atapas I have started working on this issue, can you assign this to me?

[2022-10-13 08:21] raghavpatidar commented on #115
I am eager to accept this task. Please assign it to me, thanks.

[2022-10-13 12:33] #158 closed

[2022-10-13 12:38] atapas commented on #171
Please take it.

[2022-10-13 12:57] williamssam commented on #162
yeah, you can

[2022-10-13 18:41] rnsharma10 commented on #171
@atapas I have already completed the fix.
@ansh-saini May be you can take a look at my code to check.

[2022-10-13 19:19] rnsharma10 opened #175 "🐛 [Bug]: Canvas API - Multiple event listeners added by clicking on Show canvases button"
**Describe the bug**
Canvas Api bug -
- Clicking on Show Canvases button creates duplicate event listners.
- The code written on Show Canvases does not remove the event listners already created, and adds another ones which will result in same events applied multiple times and crashing the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Canvas API page](https://webapis-playground

[2022-10-13 19:26] rnsharma10 opened #176 "🐛 [Bug]: Drawing Canvas incorrect pointer movement and incorrect dawing area"
**Describe the bug**
Canvas Api bug -
1. The drawing canvas does not use whole section to draw but only part of the whole.
2. The draw pointer on drawing canvas is displaced from actual mouse pointer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Canvas API page](https://webapis-playground.vercel.app/demo/canvas-api)
2. Click on Show Canvases button.
3. Go to Drawing canvas section

[2022-10-13 19:28] rnsharma10 commented on #171
@atapas You can take a look at these bugs for which fix is already developed but need to be pushed.
https://github.com/atapas/webapis-playground/issues/175
https://github.com/atapas/webapis-playground/issues/176

[2022-10-14 05:25] permanar commented on #176
Hey, can I work on this one? Sounds fun.

[2022-10-14 14:10] rnsharma10 commented on #175
pls assign this to me.

[2022-10-15 12:01] noobtuber20103152 opened #177 "💡 [Feature]: TextUtils Web Api"
TextUtils is an app which deals with text data. It includes tools such as for multiple text tools such as to convert case, remove accents, line breaks, extra space, also regular expressions tools for extracting elements from text such as IPs and e-mail addresses.

I want to work on this project please assign this to me

Example for this project - https://textutils.com/

[2022-10-15 12:02] noobtuber20103152 commented on #177
I want to work on this web app.

[2022-10-17 15:06] shyakadev opened #178 "✨ [New Demo Request]: Background Fetch API Demo"
## What is the Example and Demo Topic?

Background Fetch API

## Please explain why do you need it?

The **Background Fetch API** provides a method for managing downloads that may take a significant amount of time such as movies, audio files, and software. The **Background Fetch API** will enable the fetch to happen if the user starts the process while offline. Once they are connected it will begi

[2022-10-18 14:29] ansh-saini commented on #162
@atapas Can you assign this to me?

[2022-10-20 03:00] THIYAGU22 opened #180 "✨ [New Demo Request]: Media Session API"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

Media Session API provides a way to customize media notifications. It does this by providing metadata for display by the user agent for the media your web app is playing.

## Please explain why do you need it?

Gives utmost flexibility for the user to control the system. With few action context handle

[2022-10-20 03:44] imThiyagu commented on #180
Thanks @atapas

[2022-10-21 10:37] ayushkh420 opened #181 "✨ [New Demo Request]:"
Please include the request by answering these questions.

## What is the Example and Demo Topic?

<Screen Capture API>

## Please explain why do you need it?

<The Screen Capture API introduces additions to the existing Media Capture and Streams API to let the user select a screen or portion of a screen (such as a window) to capture as a media stream. This stream can then be recorded or shared wit

[2022-10-24 23:27] ludovicobesana commented on #115
@atapas Can I take this Issue please?

[2022-10-25 14:04] shyakadev opened #183 "✨ [New Demo Request]: Compression Streams API Demo"
## What is the Example and Demo Topic?

Compression Streams API

## Please explain why do you need it?

The Compression Streams API provides a JavaScript API for compressing and decompressing streams of data using the gzip or deflate formats.
Built in compression means that JavaScript applications will not need to include a compression library, which makes the download size of the application smal

[2022-10-25 19:16] imThiyagu commented on #180
@atapas

Could you please review #184

<img width="1440" alt="Screenshot 2022-10-26 at 12 42 57 AM" src="https://user-images.githubusercontent.com/27724580/197861983-163b841c-a1fb-4eb5-b1c9-74b7f6850a10.png">

Thanks for the opportunity, First step towards Typescript , totally loving it:)

[2022-10-25 19:18] imThiyagu commented on #180
* Logging the recent 5 events , if it exceeds will delete the old entry and adding the new one to avoid clutterness.

[2022-10-27 11:04] imThiyagu commented on #180
@atapas could you please review and let me know if any changes needed? thanks